@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.headResponsive {
    display: none;
}

#navbar {
    position: fixed;
    width: 100%;
    height: 70px;
    display: grid;
    align-content: center;
    justify-content: end;
    z-index: 2;
}

#navbar .head-title {
    position: absolute;
    font-size: 3.7em;
    padding: 0px 20px;
    margin-top: -5px;
    color: #fff;
    font-family: 'Teko', sans-serif;
}

#navbar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Red Hat Mono', sans-serif, monospace;
    font-size: 1.3em;
}

#navbar ul li {
    margin: 15px;
    padding: 9px 5px;
    border: 2px solid #fff;
    border-radius: 0px;
    transition: all .5s ease;
}

#navbar a {
    padding: 10px 5px;
    color: #fff;
    transition: all .4s ease;
}

#navbar li:hover {
    background: #fff;
    border-radius: 0px;
}

#navbar a:hover {
    color: #000;
}

/* -------------------------------------------------------------------------------------------- */

#welcome-section {
    background: linear-gradient(180deg, #ccc, #000);
    min-height: 100vh;
    height: auto;
    width: 100%;
    display: grid;
    justify-items: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.welcome-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.bx {
    padding: 2px 5px 0 0;
}

.productsAccess {
    position: absolute;
    margin-top: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productsAccess__button {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 5vh;
    background-color: hsla(0, 0%, 12%, 0.7);
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 15px 20px;
    width: fit-content;
    height: fit-content;
}
.productsAccess__button:hover {
    background-color: hsla(0, 0%, 100%, 0.7);
    color: #000;
    transition: all .4s ease;
}

/* -------------------------------------------------------------------------------------------- */

#products-section {
    background: linear-gradient(180deg, #093028, #093637);
    min-height: 100vh;
    height: auto;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.products-gallery {
    background-color: hsla(0, 0%, 12%, 0.7);
    width: 95vw;
    height: 80vh;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    grid-template-areas: "a b"
                         "c d";
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}

.product {
    width: 100%;
    height: 100%;
}

.product-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-container figure {
    width: 100%;
    height: 100%;
    position:relative;
    overflow: hidden;
}

.product-container figure img {
    width: 100%;
    height: 100%;
    transition: all .4s ease-out;
    will-change: transform;
    object-fit: cover;
}

.product-container figure .product__span {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-weight: 600;
    transition: all .4s ease-out;
}
.product-container figure:hover > .product__span {
    font-size: 1.3em;
    background:hsla(0, 0%, 0%, 0.9);
}
.product-container figure:hover > img {
    transform: scale(1.3);
}

/* -------------------------------------------------------------------------------------------- */

#contact-section {
    background-color: #fff;
    height: 100vh;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

/* -------------------------------------------------------------------------------------------- */

footer {
    background: #1E1E1E;
    height: auto;
}

footer p {
    padding: 20px;
    text-align: center;
    font-family: 'Red Hat Mono', monospace;
    color: #ccc;
}

/* -------------------------------------------------------------------------------------------- */

@media (max-width: 768px) {
    .head {
        display: none;
    }
    .headResponsive {
        display: block;
    } 
    .menu {
        position: fixed;
        transform: translateX(100%);
        transition: transform .3s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: #111;
        color: white;
        list-style: none;
        padding-top: 4rem;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 0px;
        display: grid;
        align-content: space-evenly;
        justify-content: center;
        justify-items: center;
    }
    .menu a {
        text-decoration: none;
        font-size: 1.3em;
        font-family: sans-serif;
        color: #fff;
        text-transform: uppercase;
        border: 1px solid #fff;
        padding: 10px;
    }
    .hamburger {
        display: block;
        position: fixed;
        z-index: 100;
        top: 1rem;
        right: 1rem;
        padding: 3px;
        border: #fff solid 2px;
        background: transparent;
        cursor: pointer;
        color: #fff;
    }
    i.closeIcon.material-icons {
        display: none;
    }
    .showMenu {
        transform: translateX(0);
    }
    .headResponsive__title {
        display: flex;
        justify-content: center;
    }
    .head-title2 {
        position: absolute;
        font-size: 22vw;
        color: #fff;
        font-family: 'Teko', sans-serif;
        width: 90vw;
        margin-top: 30vh;
        display: flex;
        justify-content: center;
        background: linear-gradient(180deg, #fff, #0f3443);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@media (max-width: 375px) {
    .menu a {
        font-size: 1em;
    }
}